<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <p th:text="'Hello world of spring!'"/>
  <p th:text="'My name = '+${name.firstName} + ' ' + ${name.lastName}"/>
  <p th:text="'My country is: '+${name.country}"/>
  <p th:text="'My Favourite language is: '+${name.language}"/>
  <p th:text="'My Favourite OS is: '+${name.os}"/>
  <p th:text="'My free passes is: '+${name.freePasses}"/>
  <p th:text="'My postal code is: '+${name.postalCode}"/>
  <p th:text="'My postal code is: '+${name.courseCode}"/>
</body>
</html>